<main class="album-view container narrow">
    <section class="clearfix">
        <div class="column half">
            <img src="{{ }}" class="album-cover-art"> <!-- need to put in album data using markup -->
        </div>
        <div class="album-view-details column half">
            <h2 class="album-view-title"> {{ }} </h2> <!-- need to put in album data using markup -->
            <h3 class="album-view-artist"> {{ }} </h3> <!-- need to put in album data using markup -->
            <h5 class="album-view-release-info"> {{ }} </h5> <!-- need to put in album data using markup -->
        </div>
    </section>
    <table class="album-view-song-list">
        <tr class="album-view-song-item" ng-mouseover="hovered = true" ng-mouseleave="hovered = false" ng-repeat="album-view-song-list in album.albumData ">
            <td class="song-item-number">
                <span ng-show="!playing && !hovered"> {{ album-view-song-list.song-item-number }} </span>
                <a class="album-song-button" ng-show="!playing && hovered"><span class="ion-play"></span></a>
                <a class="album-song-button" ng-show="playing"><span class="ion-pause"></span></a>
            
            </td>
            <td class="song-item-title"> {{ album-view-song-list.song-item-title }} </td>
            <td class="song-item-duration"> {{ album-view-song-list.song-item-dureation }} </td>
        </tr>
    </table>
</main>

<ng-include src="'/templates/player_bar.html'"></ng-include>